<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">
  <persistence-unit name="PU" transaction-type="JTA">
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
    <jta-data-source>BD</jta-data-source>
    <class>TS.FrameWork.TO.Pergunta</class>
    <class>TS.FrameWork.TO.Pessoa</class>
    <class>TS.FrameWork.TO.Rota</class>
    <class>TS.FrameWork.TO.Usuario</class>
    <class>TS.FrameWork.TO.Endereco</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="hibernate.cache.provider_class" value="org.hibernate.cache.NoCacheProvider"/>
      <property name="hibernate.connection.dialect" value="org.hibernate.dialect.MySQLDialect"/>
      <!--      <property name="hibernate.connection.dialect" value="org.hibernate.dialect.MySQLInnoDBDialect"/>-->
      <property name="hibernate.hbm2ddl.auto" value="update"/>
    </properties>
  </persistence-unit>
</persistence>
